

<div id="myDiv">


  <%= text_field_tag :order_date %>

</div>

<script type="text/javascript">

    $(function () {
        $('#order_date').datetimepicker({
            format: 'yyyy-mm-dd'
        });
    })


</script>